<form action="{{urls.contact_us_submit}}" method="post" x-bind="contactUsForm" x-data="serenityContactUsForm">
    {{inject 'contactEmail' (lang 'forms.validate.contact.email_address')}}
    {{inject 'contactQuestion' (lang 'forms.validate.contact.question')}}
    {{#if forms.contact.error}}
    <div>{{> components/common/alert/alert-error forms.contact.error}}</div>
    {{/if}}
    <input id="page_id" name="page_id" type="hidden" value="{{forms.contact.page_id}}">
    <div class="flex flex-col gap-3 my-4">
        {{#if forms.contact.name}}
        <div>
            <label for="contact_fullname">{{lang 'forms.contact_us.full_name'}}</label>
            <input class="input" id="contact_fullname" name="contact_fullname" type="text" value="{{customer.name}}">
        </div>
        {{/if}}

        {{#if forms.contact.phone}}
        <div>
            <label for="contact_phone">{{lang 'forms.contact_us.phone'}}</label>
            <input class="input" id="contact_phone" name="contact_phone" type="text" value="{{customer.phone}}">
        </div>
        {{/if}}

        <div>
            <label for="contact_email">{{lang 'forms.contact_us.email'}}
                <small class="required float-right">{{lang 'common.required' }}</small>
            </label>
            <input class="input" id="contact_email" name="contact_email" type="text" value="{{customer.email}}"
                   x-bind="emailField">
        </div>

        {{#if forms.contact.order}}
        <div>
            <label for="contact_orderno">{{lang 'forms.contact_us.order'}}</label>
            <input class="input" id="contact_orderno" name="contact_orderno" type="text">
        </div>
        {{/if}}

        {{#if forms.contact.company}}
        <div>
            <label for="contact_companyname">{{lang 'forms.contact_us.company'}}</label>
            <input class="input" id="contact_companyname" name="contact_companyname" type="text">
        </div>
        {{/if}}

        {{#if forms.contact.rma}}
        <div>
            <label for="contact_rma">{{lang 'forms.contact_us.rma'}}</label>
            <input class="input" id="contact_rma" name="contact_rma" type="text">
        </div>
        {{/if}}


        <div>
            <label for="contact_question">{{lang 'forms.contact_us.question'}}
                <small class="required float-right">{{lang 'common.required' }}</small>
            </label>
            <textarea class="input" cols="50" id="contact_question" name="contact_question" rows="5"
                      x-bind="commentField"></textarea>
        </div>
        {{#if forms.contact.manualcaptcha}}
        <div>
            <label for="{{forms.contact.manualcaptcha.name}}">
                {{lang 'forms.contact_us.manual_captcha_instruction'}}
                <small class="required float-right">{{lang 'common.required' }}</small>
            </label>
            <div class="manual-captcha-input-container">
                <span class="question">{{forms.contact.manualcaptcha.question}}</span>
                <input aria-disabled="true" autocomplete="off" class="input"
                       id="{{forms.contact.manualcaptcha.name}}" name="{{forms.contact.manualcaptcha.name}}" required type="text"
                       value="">
            </div>
        </div>
        {{/if}}
    </div>
    {{{forms.contact.recaptcha.markup}}}
    <div>
        <input class="button-primary" type="submit" value="{{lang 'forms.contact_us.submit' }}" x-bind="submit">
    </div>
</form>
