---
brand:
    products:
        limit: {{theme_settings.brandpage_products_per_page}}
---
{{inject "brandProductsPerPage" theme_settings.brandpage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.brand.previous}}
        <link rel="prev" href="{{pagination.brand.previous}}">
    {{/if}}
    {{#if pagination.brand.next}}
        <link rel="next" href="{{pagination.brand.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
{{#if brand.image}}
    <div class="brand-image-container">
        {{> components/common/responsive-img
            image=brand.image
            fallback_size=theme_settings.thumb_size
            lazyload='disabled'
        }}
    </div>
{{/if}}
<h1 class="page-heading">{{brand.name}}</h1>
{{{region name="brand_below_header"}}}

<div x-data="serenityProductList({
        productListingTemplate: 'brand/product-listing',
        facetSidebarTemplate: 'brand/sidebar'
    })" class="flex flex-row gap-4 w-full flex-wrap">

    <div x-data="serenityDropdown" class="w-full block sm:hidden">
        <button x-bind="button" class="flex-row-middle w-full gap-1 p-1" :class="{'border-b border-divider': !isOpen}">
            <span class="material-symbols-outlined icon-base shrink grow-0 w-6">tune</span>

            <span class="grow text-left">
                {{#if brand.facets.length '>' 2}}
                    {{lang 'search.faceted.browse-by'}} {{join (pluck brand.facets 'title') ', ' limit=2}} &amp; {{toLowerCase (lang 'search.faceted.more')}}
                {{else}}
                    {{lang 'search.faceted.browse-by'}} {{join (pluck brand.facets 'title') ', ' lastSeparator=' & '}}
                {{/if}}
            </span>

            <span class="material-symbols-outlined icon-base transition-transform" :class="{'rotate-180': isOpen}">keyboard_arrow_down</span>
        </button>
        <div x-bind="menu" x-cloak class="w-full mt-2 bg-gray-50 border border-gray-100 p-4">
            <aside class="min-w-60 sm:w-60 2xl:w-80 w-full shrink-0" x-bind="facetSidebar" x-data="serenityFacets">
                {{> components/brand/sidebar}}
            </aside>
        </div>
    </div>
    
    <aside class="hidden sm:block min-w-60 sm:w-60 2xl:w-80 w-full shrink-0" x-bind="facetSidebar" x-data="serenityFacets">
        {{> components/brand/sidebar}}
    </aside>

    <div class="basis-1 flex-grow">
        <main class="w-full" x-bind="productListing">
            {{#if brand.search_error }}
                <p>{{lang 'search.errorMessage'}}</p>
            {{else}}
                {{#if brand.products}}
                    {{> components/brand/product-listing}}
                {{else}}
                    <p>{{lang 'brands.no_products'}}</p>
                {{/if}}
                {{{region name="brand_below_content"}}}
            {{/if}}
        </main>
    </div>
</div>

{{/partial}}
{{> layout/base}}
