<div role="radiogroup" x-data="serenityProductAttribute({ id: {{id}} })">
    <label class="flex-row-middle gap-2 mb-1">
        <span class="font-semibold">{{display_name}}:</span>
        <span class="required">{{> components/common/requireness-msg}}</span>
    </label>

    {{#if values.0.image}}
        <ul class="flex flex-col gap-2">
            {{#unless required}}
                <li
                    class="flex flex-row gap-2 items-center"
                    x-data="serenityProductOption({ id: {{id}} })">
                    <input
                        type="radio"
                        x-bind="optionInput"
                        name="attribute[{{id}}]"
                        value=""
                        id="attribute_productlist_{{id}}_none"
                        {{#unless defaultValue}}checked{{/unless}}
                    />
                    <label x-bind="optionLabel" for="attribute_productlist_{{id}}_none">{{lang 'products.none'}}</label>
                </li>
            {{/unless}}

            {{#each values}}
                <li x-data="serenityProductOption({ id: {{id}} })"
                    class="flex flex-row gap-2 items-center">
                    {{#if image}}
                        <figure class="shrink-0 border border-divider w-16 aspect-square p-1">
                            {{> components/common/responsive-img
                                image=image
                                lazyload='lazyload+lqip'
                            }}
                        </figure>
                    {{/if}}
                    <div class="flex flex-row gap-2 items-center">
                        <input
                            type="radio"
                            x-bind="optionInput"
                            name="attribute[{{../id}}]"
                            value="{{id}}"
                            id="attribute_productlist_{{../id}}_{{id}}"
                            {{#if selected}}checked{{/if}}
                            {{#if ../required}}required{{/if}}>
                        <label x-bind="optionLabel" for="attribute_productlist_{{../id}}_{{id}}">{{label}}</label>
                    </div>
                </li>
            {{/each}}
        </ul>
    {{else}}
        {{#unless required}}
        <input type="radio"
               name="attribute[{{id}}]"
               value="0"
               id="attribute_productlist_0_{{id}}"
               {{#unless defaultValue}}checked{{/unless}}
        />
        <label class="form-label" for="attribute_productlist_0_{{id}}">{{lang 'products.none'}}</label>
        {{/unless}}
        {{#each values}}
            <input
                type="radio"
                name="attribute[{{../id}}]"
                value="{{id}}"
                id="attribute_productlist_{{../id}}_{{id}}"
                {{#if selected}}checked{{/if}}
                {{#if ../required}}required{{/if}}>
            <label data-product-attribute-value="{{id}}" class="form-label" for="attribute_productlist_{{../id}}_{{id}}">{{label}}</label>
        {{/each}}
    {{/if}}
</div>
