<div x-data="serenityProductAttribute({ id: {{id}} })">
    <label class="flex-row-middle gap-2 mb-1" for="attribute_select_{{id}}">
        <span class="font-semibold">{{display_name}}:</span>
        <span class="required">{{> components/common/requireness-msg}}</span>
    </label>

    <select x-bind="attributeInput" class="select w-1/2" name="attribute[{{this.id}}]" id="attribute_select_{{id}}" {{#if required}}required{{/if}}>
        <option value="">{{lang 'products.choose_options'}}</option>
        {{#each this.values}}
            <option
                x-data="serenityProductOption({ id: {{id}}, label: {{JSONstringify label}} })"
                x-bind="optionSelectItem"
                {{#if selected}}selected{{/if}}
                value="{{id}}"
            >
                {{label}}
            </option>
        {{/each}}
    </select>
</div>
