<div id="{{id}}" data-validation="{{validation}}" {{#if private_id}}data-type="{{private_id}}"{{/if}} x-data="serenityPasswordStrength({
    isEnabled: false
})">
    <label for="{{id}}_input" class="mb-1 block">
        {{label}}
        {{#if required}}<small class="required float-right">{{lang 'common.required' }}</small>{{/if}}
    </label>
    <input
        type="password"
        class="input"
        id="{{id}}_input"
        data-label="{{label}}"
        name="{{name}}"
        value="{{value}}"
        autocomplete="off"
        aria-required="{{required}}"
        aria-labelledby="{{id}}"
        aria-live="polite"
        {{#if private_id}}data-field-type="{{private_id}}"{{/if}}
        x-bind="passwordInput"
    >
    <div x-bind="passwordStrengthMeter">
        <div class="flex-row-middle items-stretch w-full">
            <div x-bind="passwordStrengthBar" class="h-2"></div>
            <div x-bind="passwordStrengthText" class="ml-2 text-xs"></div>
        </div>
    </div>
</div>
