<div  id="{{id}}" data-validation="{{validation}}" {{#if private_id}}data-type="{{private_id}}"{{/if}}>
    <noscript>
        <label for="{{id}}_select" class="mb-1 block">
        {{label}}
        {{#if required}}<small class="required float-right">{{lang 'common.required' }}</small>{{/if}}
    </label>
    <input type="text"
        id="{{id}}_input"
        name="{{name}}"
        value="{{value}}"
        class="input"
        aria-required="{{required}}"
        aria-labelledby="{{id}}"
        aria-live="polite"
        data-label="{{label}}"
        data-input
        />
    </noscript>

    <label for="{{id}}_select" class="mb-1 block">
        {{label}}
        {{#if required}}<small class="required float-right">{{lang 'common.required' }}</small>{{/if}}
    </label>
    <select name="{{name}}"
            class="select"
            aria-required="{{required}}"
            aria-labelledby="{{id}}"
            aria-live="polite"
            id="{{id}}_select"
            data-label="{{label}}"
            data-input
            {{#if private_id}}data-field-type="{{private_id}}"{{/if}}
    >
        {{#if options}}
            <option value="">{{chooseprefix}}</option>
            {{#each options}}
                <option {{#if selected}} selected {{/if}}value="{{value}}">{{label}}</option>
            {{/each}}
        {{/if}}
    </select>
</div>
