{{inject 'passwordRequirements' settings.password_requirements}}
{{inject 'recaptchaTitle' (lang 'create_account.recaptcha_title')}}
{{#partial "page"}}
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    <h1 class="page-heading">{{lang 'create_account.heading' }}</h1>

    {{#if forms.create_account.error}}
        {{> components/common/alert/alert-error forms.create_account.error}}
    {{/if}}

    <div class="mx-auto my-6 w-11/12 sm:w-2/3 lg:w-1/2 max-w-144 min-w-48 appear-quick">   
        {{#if settings.account_creation_enabled}}
        <form
            x-data="serenityCreateAccountForm"
            action="{{urls.auth.save_new_account}}"
            method="post"
            autocomplete="off"
        >
            <div x-data="serenityCountrySelect">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-y-3 gap-x-4">
                    {{#each forms.create_account.account_fields }}
                        {{{dynamicComponent 'components/common/forms'}}}
                    {{/each}}
                    {{#each forms.create_account.address_fields }}
                        {{{dynamicComponent 'components/common/forms'}}}
                    {{/each}}
                    {{inject 'required' (lang 'common.required')}}
                    {{inject 'state_error' (lang 'errors.state_error')}}
                </div>
                {{{ forms.create_account.recaptcha.markup}}}
                <div class="mt-4">
                    <input x-bind="submitButton" type="submit" class="button-primary" value="{{lang 'forms.create_account.submit_value' }}" />
                </div>
            </div>
        </form>
        {{/if}}
    </div>
{{/partial}}
{{> layout/base}}
