{{#if carousel.slides.length '>' 0}}
    <section class="swiper" x-bind="main" x-data="serenitySlider({
        autoplay: {
            delay: 5000,
            {{#if settings.homepage_stretch_carousel_images}}autoHeight: true,{{/if}}
        }
    })">
        <div class="swiper-wrapper" x-bind="wrapper">
            {{#each carousel.slides}}
            <div class="swiper-slide" x-bind="slide">
                <div class="relative">
                    {{#unless button_text}}
                    <a aria-label="{{#if this.alt_text.length '!=' 0}}{{this.alt_text}}{{else}}{{lang 'carousel.slide_number' slide_number=(add @index 1)}}{{/if}}" href="{{url}}">
                    {{/unless}}

                    {{#if @first}}
                        {{> components/common/responsive-img
                            image=stencil_image
                            class="w-full aspect-[16/9] lg:aspect-[24/9] object-cover"
                            fallback_size='1280w'
                            lazyload='disabled'
                        }}
                    {{else}}
                        {{> components/common/responsive-img
                            image=stencil_image
                            class="w-full aspect-[16/9] lg:aspect-[24/9] object-cover"
                            fallback_size='1280w'
                            lazyload='lazyload'
                        }}
                    {{/if}}

                    {{#or heading text button_text}}
                        {{> components/carousel-content}}
                    {{/or}}

                    {{#unless button_text}}</a>{{/unless}}
                </div>
            </div>
            {{/each}}
        </div>

        {{#if arrows}}
            <div class="swiper-button-prev" x-bind="buttonPrev" x-cloak x-show="isReady"></div>
            <div class="swiper-button-next" x-bind="buttonNext" x-cloak x-show="isReady"></div>
        {{/if}}
    </section>
{{/if}}
